<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{navi.html::rora}"></div>

<p>삭제할 댓글 목록</p>

<form>
    <div>
    <h4>---------유저 id--------------</h4>
    <a th:text="${'user_id: ' + dl.user_id}"></a>
    <h4>---------게시판 id-------------</h4>
    <a th:text="${'post_id: ' + dl.post_id}"></a>
    <h4>----------댓글 내용------------</h4>
    <a th:text="${'content: ' + dl.content}"></a>
    </div>
</form>

<form th:action="@{'/delete/' + ${dl.comment_id} }" method="POST">
    <button type="submit">삭제</button>
</form>


</body>
</html>