<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{bau.html::wao}"></div>

<form th:action="@{/post/save}" method="POST">
    <input type="hidden" name="comment_id" th:value="${ed.comment_id}">
    <h4>게시글 제목</h4>
    <input name="title" placeholder="제목을 지어주세요">
    <h4>게시글 내용</h4>
    <input name="content" placeholder="게시글을 작성해주세요">
   <button type="submit">전송</button>
</form>


</body>
</html>