<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{navi.html::rora}"></div>

<form action="/save" method="POST">
    <p>게시글id</p>
    <input  name ="post_id"/>
    <p>사용자id</p>
    <input  name ="user_id"/>
    <p>댓글</p>
    <input  name ="content"/>
    <button type="submit">전송</button>
</form>

</body>
</html>