<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h4>마이페이지임</h4>

<div sec:authentication="principal"></div>
<div sec:authentication="principal.username"></div>

<div sec:authorize="hasAuthority('일반유저')">
        <h4>이 목록은 일반유저가 볼 수 있다.</h4>
</div>
<!--
<div sec:authorize="isAuthority()">
    <h4>이 목록은 로그인 한 사람만 볼 수 있다.</h4>
</div>
<div sec:authorize="isAnonymous()">
    <h4>이 목록은 로그아웃 한 사람만 볼 수 있다.</h4>
</div>
-->

</body>
</html>